<!DOCTYPE html>
<html>
<body>

<img src="C:\Users\harsh\projects\download.png" alt="Smiley face" width="400" height="150">
<h3>
<b><center>
GANPAT UNIVERSITY<br>
U V PATEL COLLEGE OF ENGINEERING<br>
DEPARTMENT OF COMPUTER SCIENCE AND ENGINEERING<br>
<h1>CONSENT LETTER FOR PLACEMENT</h1>
</center>
</b>
I {{ name }} {{ enrollmentno }} hereby give my consent for college placements. I do agree to all the terms and conditions mentioned below. During placement procedure, if any untoward incident happens because of me, I do take complete responsibility for that and will accept decision taken by college placement cell.<br><br>
<b>Student&#39s Signature: &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Parent&#39s Signature:
<br><br><br><br><br><br>
<b>Student&#39s Mobile: &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Parent&#39s mobile:
<br><br>Permanent Address:

<br>
<br><br><br><br>
Terms & Condition:<br>
1.	Once the student shows the interest for the company, He/She will have to remain present for all the selection procedure/rounds.<br>
2.	Once the student has accepted offer from any company then he/she will have to compulsorily join the company.<br>
3.	All selection for placement/internship is the sole right of company and students have to respectfully obey. <br>
4.	Student has to proactively participate in placement/internship related drives. The college/university can help till the opportunities created.<br>
5.	Training and Placement cell of the institute will be final authority for any decisions related to placement/internship.<br>



</b>
</b></h3>


</body>
</html>