{%extends 'facultybase.html'%} {%block content%}{%load static %}

<style>
    h1 {
        font-size: 30px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 300;
        text-align: center;
        margin-bottom: 15px;
    }
    
    table {
        width: 100%;
        table-layout: fixed;
    }
    
    .tbl-header {
        background-color: rgba(0, 0, 0, 0.281);
    }
    
    .tbl-content {
        height: 55px;
        overflow-x: auto;
        margin-top: 0px;
        border: 1px solid rgba(0, 0, 0, 0.3);
    }
    
    th {
        padding: 10px 10px;
        text-align: center;
        font-weight: 500;
        font-size: 15px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
    }
    
    td {
        padding: 15px;
        text-align:center;
        vertical-align: middle;
        font-weight: 300;
        font-size: 15px;
        color: rgb(0, 0, 0);
        border-bottom: solid 1px rgba(167, 87, 87, 0.1);
    }
    /* demo styles */
    
    @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
    body {
        background: -webkit-linear-gradient(left, #9deffaf8, #a4b9f1fb);
        background: linear-gradient(to right, #9deffaf8, #a4b9f1fb;
        font-family: 'Roboto', sans-serif;
        height: auto;
    }
    
    section {
        margin: 100px;
    }
    /* follow me template */
    /* for custom scrollbar for webkit browser*/
    
     ::-webkit-scrollbar {
        width: 6px;
    }
    
     ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    
     ::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    
    $(window).on("load resize ", function() {
        var scrollWidth=$('.tbl-content').width() - $('.tbl-content table').width();
        $('.tbl-header').css( {
            'padding-right': scrollWidth
        }
        );
    }
    
    ).resize();
</style>

<section>
    <!--for demo wrap-->
    <center>
        <h2>Student Account Information</h2>
    </center>
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>Details Filled</th>
                    <th>Details Not Filled </th>                    
                    <th>Student Count</th>
                    <th>Student Coordinator Count</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
                <tr>
                    <td>{{detailsfilled}}</td>
                    <td>{{detailsnotfilled}}</td>                    
                    <td>{{student}}</td>
                    <td>{{studentc}}</td>                    
                </tr>
            </tbody>
        </table>
    </div>

    <center>
        <h2>Student Interest</h2>
    </center>
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>Internship</th>
                    <th>Both( Internship + Placement )</th>
                    <th>Yet to Select</th> 
                </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
                <tr>
                    <td>{{internship}}</td>
                    <td>{{placement}}</td>
                    <td> {{NotChoosen}}</td>         
                </tr>                
            </tbody>
        </table>
    </div>
    <center>
        <h2>Placement Details</h2>
    </center>
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>Placed</th>
                    <th>Offer Letter Pending</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
                <tr>
                    
                    <td>{{placed}}</td>
                    <td> {{OfferLetterPending}} </td>
                </tr>

            </tbody>
        </table>
    </div>
    <center>
        <h2>Internship Details</h2>
    </center>
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>Internship Selected</th>
                    <th>NOC Letter Pending</th>
                
                </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
                <tr>
                    
                    <td>{{internshipcompleted}}</td>
                    <td>{{NOCpending}}</td>
                    
                </tr>

            </tbody>
        </table>
    </div>
</section>
{%endblock%}