{%extends 'base.html'%} {%load static %} {% block content %}

<head>
  <title>{%block title %}Password Change{%endblock%}</title>
  <script type="text/javascript">
        function myFunction() {
          alert("OTP Send to registered Email")
        }
        
        var password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
    </script>
    
</head>
<body onload="myFunction()" style="background-image: url({% static 'Images/wallpaper.jpg' %}); overflow-y: hidden;">
  <div class="login-page">
      <div class="form" >
          <h1 style="color: red;">Forgot-Password</h1>
          <center><img src="{%static 'logo.jpg' %}" alt="Ganpat University" width="102px "></center>
          <p style="color:red;">{{message}}</p>
          <br/>
          <form class="login-form" action="" method="POST">
              {% csrf_token %}
              <input type="password" placeholder="Password" id="password" name="pass" required><br/>
              <input type="password" placeholder="Confirm Password" id="confirm_password" required><br/>
              <input type="textbox" placeholder="OTP" name="otp" required><br/> <a href="/changepassword_forgot">Resend OTP</a><br/><br>
              <input type="submit" value="Confirm" id="submit"> <a href="{%url 'student'%}">Nevermind</a> {{message}}
          </form>
      </div>
  </div>
  </body>
  {%endblock%}
  <!--
<body onload="myFunction()">
    <form action="" method="POST">
        {% csrf_token %}
        <form>
            <fieldset>
                <legend>Password Change</legend>
                <input type="password" placeholder="Password" id="password" name="pass" required><br/><br/>
                <input type="password" placeholder="Confirm Password" id="confirm_password" required><br/><br/>
                <input type="textbox" placeholder="OTP" name="otp" required> <a href="/changepassword_forgot">Resend OTP</a><br/><br/>
                <button type="submit">Confirm</button> <a href="{%url 'student'%}">Nevermind</a> {{message}}
            </fieldset>
        </form>
    </form>
    
        
</body>
</html>-->