{%extends 'base.html'%} {%load static %} {% block content %}

<head>
    <title>{%block title %}Forgot-Password{%endblock%}</title>
</head>

<body style="background-image: url({% static 'Images/wallpaper.jpg' %}); overflow-y: hidden;">
<div class="login-page">
    <div class="form" >
        <h1 style="color: red;">Forgot-Password</h1>
        <center><img src="{%static 'logo.jpg' %}" alt="Ganpat University" width="102px "></center>
        <p style="color:red;">{{message}}</p>
        <br/>
        <form class="login-form" action="" method="POST">
            {% csrf_token %}
            <input type="textbox" placeholder="User ID"  name="userid" required>
            <input type="textbox" placeholder="Email ID" name="emailid" required>
            <input type="submit" value="Next" id="submit">
    </form>
            <form class="login-form" action="" method="GET">
                <input type="submit" class="forgot" value="Nevermind" name="submitbutton">
            </form>
            

    </div>
</div>
</body>
{%endblock%}