{%extends 'studentbase.html'%} {%block content%}{%load static %}
<style>
    h1 {
        font-size: 30px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 300;
        text-align: center;
        margin-bottom: 15px;
    }
    
    table {
        width: 100%;
        table-layout: fixed;
    }
    
    .tbl-header {
        background-color: rgba(0, 0, 0, 0.281);
    }
    
    .tbl-content {
        height: 300px;
        overflow-x: auto;
        margin-top: 0px;
        border: 1px solid rgba(0, 0, 0, 0.3);
    }
    
    th {
        padding: 20px 15px;
        text-align: left;
        font-weight: 500;
        font-size: 15px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
    }
    
    td {
        padding: 15px;
        text-align: left;
        vertical-align: middle;
        font-weight: 300;
        font-size: 15px;
        color: rgb(0, 0, 0);
        border-bottom: solid 1px rgba(167, 87, 87, 0.1);
    }
    /* demo styles */
    
    @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
    body {
        background: -webkit-linear-gradient(left, #9deffaf8, #a4b9f1fb);
        background: linear-gradient(to right, #9deffaf8, #a4b9f1fb;
        font-family: 'Roboto', sans-serif;
        height: auto;
    }
    
    section {
        margin: 100px;
    }
    /* follow me template */
    /* for custom scrollbar for webkit browser*/
    
     ::-webkit-scrollbar {
        width: 6px;
    }
    
     ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    
     ::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    
    $(window).on("load resize ", function() {
        var scrollWidth=$('.tbl-content').width() - $('.tbl-content table').width();
        $('.tbl-header').css( {
            'padding-right': scrollWidth
        }
        );
    }
    
    ).resize();
</style>
<script>
    function sortTable() {
        var table, rows, switching, i, x, y, shouldSwitch,first=true;
        table = document.getElementById("both");
        switching = true;
        while (switching) {
          switching = false;
          rows = table.rows;
          console.log(rows)
          for (i = 0; i < (rows.length - 1); i++) {
            shouldSwitch = false;
            console.log("hi")
            x = rows[i].getElementsByTagName("TD")[2];
            y = rows[i + 1].getElementsByTagName("TD")[2];
            console.log(x);
            console.log(y);
            console.log(x.innerHTML < y.innerHTML);
            if (x.innerHTML < y.innerHTML && first==true) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              first = false;
              break;
            }
            //else if (x.innerHTML > y.innerHTML && first==false) {
                // If so, mark as a switch and break the loop:
              //  shouldSwitch = true;
                //first = true;
                //break;
              //}
          }
          if (shouldSwitch) {
            /* If a switch has been marked, make the switch
            and mark that a switch has been done: */
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
          }
        }
      }
         
    </script>

<section   >
    <h2> Passed Opportunity</h2>
<span style="color: red;">{{message}}</span>
{% if placementflag %}          
    <!--for demo wrap-->
    <center>
        <h2>Internship + Placement</h2>
    </center>
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th> Company</th>
                    <th> Type </th>
                    <th> Package<input type="image" src= "{%static 'icon-ios7-arrow-down-32.png' %}" onclick="sortTable()" width="20px" height="20px" alt="Sort"></th>
                    <th> Stipend</th>
                    <th> Bondterm</th>
                    <th>Deadline</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        <table id="both" cellpadding="0" cellspacing="0" border="0">
            <tbody>
                {% for opportunity in bothopportunity %}
                <tr>
                    <td>{{opportunity.companyname}}</td>
                    <td >{{opportunity.typeofjob}}</td>
                    <td id="both_pkg" value="{{opportunity.package}}" name ="{{opportunity.package}}" > {{opportunity.package}}</td>
                    <td> {{opportunity.stipend}} </td>
                    <td> {{opportunity.bondterm}}</td>
                    <td>
                    {% if date == opportunity.deadline %}
                        <span style="color: red;">{{opportunity.deadline}} Expiring Soon</span>
                    {% else %}
                        <span>{{opportunity.deadline}}</span>
                    {% endif %}                        
                    </td>
                </tr>
                {%endfor%}
                
            </tbody>
        </table>
    </div>

    <center>
        <h2>Placement</h2>
    </center>
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Type </th>
                    <th>Package</th>

                    <th>Bondterm</th>
                    <th>Deadline</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
                {% for opportunity in placement_opportunity %}
                <tr>
                    <td>{{opportunity.companyname}}</td>
                    <td>{{opportunity.typeofjob}}</td>
                    <td> {{opportunity.package}}</td>
                    <td> {{opportunity.bondterm}}</td>
                    <td>{{opportunity.deadline}}</td>
                </tr>
                {%endfor%}

            </tbody>
        </table>
    </div>
    <center>
        <h2>Internship</h2>
    </center>
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Type </th>

                    <th>Stipend</th>

                    <th>Deadline</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
                {% for opportunity in internship_opportunity %}
                <tr>
                    <td>{{opportunity.companyname}}</td>
                    <td>{{opportunity.typeofjob}}</td>

                    <td> {{opportunity.stipend}} </td>

                    <td>{{opportunity.deadline}}</td>
                </tr>
                {%endfor%}

            </tbody>
        </table>
    </div>
{% endif%}
{% if internshipflag %}   
<center>
    <h2>Internship</h2>
</center>
<div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
        <thead>
            <tr>
                <th>Company</th>
                <th>Type </th>

                <th>Stipend</th>

                <th>Deadline</th>
            </tr>
        </thead>
    </table>
</div>
<div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
            {% for opportunity in internship_opportunity %}
            <tr>
                <td>{{opportunity.companyname}}</td>
                <td>{{opportunity.typeofjob}}</td>

                <td> {{opportunity.stipend}} </td>

                <td>{{opportunity.deadline}}</td>
            </tr>
            {%endfor%}

        </tbody>
    </table>
</div>
{%endif%}       
</section>
{%endblock%}