<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and Condition</title>
</head>
<body>
    <h2>Term and Condition</h1>
        <h3>For Internship and Placement </h3>
        <ol>
<li>Once the student shows the interest for the company, He/She will have to remain present for all the selection procedure/rounds.</li>
<li>Once the student has accepted an offer from any company then he/she will have to compulsorily join the company.</li>
<li>All selection for placement/internship is the sole right of the company and students have to respectfully obey.</li>
<li>The student has to proactively participate in placement/internship related drives. The college/university can help until the opportunities created.</li> 
<li>Training and Placement Cell of the institute will be the final authority for any decisions related to placement/internship.</li>
</ol>
  <h3>From Platform</h3>      
  <ol>
      <li> You may receive Email notifications from us. </li>
      <li> You can't opt-out of email notification. </li>
      <li> The platform may collect personal or sensitive information (such as grade, sign and etc) from you.</li>
      <li> The platform may use collected personal information for official use</li>
      <li> Institute or Platform will not be liable for any loss or misuse of your data </li>
  </ol>
</body>
</html>